# Copy to terraform.tfvars (gitignored) and adjust.
subscription_id    = "6defd2a7-df6b-4dba-97cc-f76f4813244d"
location           = "centralus"
github_repository  = "aj11131/shiplog"
github_environment = "dev"
